/* Reset y básicos */
 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Arial', sans-serif;
 }
 body {
 background-color: #111;
 color: #fff;
 }
 header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #1a1a1a;
 padding: 20px;
 }
 .logo h1 {
 color: #ff0000;
 font-size: 28px;
 }
 .logo .slogan {
 color: #fff;
 font-size: 14px;
 }
 button {
 cursor: pointer;
 padding: 10px 15px;
 border: none;
 border-radius: 5px;
 background-color: #ff0000;
 color: #fff;
 font-weight: bold;
 transition: 0.3s;
 }
 button:hover {
 background-color: #e60000;
 }
 /* Catálogo */
 .products {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 padding: 30px;
 gap: 20px;
 }
 .product {
 background-color: #1a1a1a;
 padding: 15px;
 border-radius: 10px;
 text-align: center;
 width: 200px;
 }
 .product img {
 width: 100%;
 border-radius: 10px;
 }
 /* Carrito emergente */
 .cart-popup {
 position: fixed;
 top: 50px;
 right:-400px;
 width: 350px;
 background-color: #222;
 padding: 20px;
 border-radius: 10px;
 transition: right 0.3s ease;
 z-index: 1000;
 }
 .cart-popup.show {
 right: 20px;
 }
 .cart-popup h2 {
 color: #ff0000;
 margin-bottom: 15px;
 }
 #cart-items li {
 margin-bottom: 10px;
 list-style: none;
 }